<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened="true">
      <mat-nav-list>
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="list icon">list</mat-icon>
          </button>
          <span>Listado</span>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
          </button>
          <span>Añadir</span>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
          </button>
          <span>Buscar</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
  </mat-drawer-container>
  