.menu-button {
    background-color: #2196F3; /* Color de fondo azul */
  }
  
  .menu-button .mat-icon {
    font-size: 24px; /* Tamaño del icono */
    color: white; /* Color del icono blanco */
  }