<div class="container">
    <!-- Input de búsqueda y botón de filtro -->
    <div class="row justify-content-center mb-3 mt-3">
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por nombre..." [(ngModel)]="searchTerm">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="search()">Buscar</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-warning add-button ml-2" (click)="add()">Crear héroe</button>
        </div>
      </div>
  
    <!-- Lista de héroes -->
    <div class="row">
      <div class="col-md-4" *ngFor="let heroe of filteredHeroes">
        <div class="card mb-4 shadow-sm">
          <img [src]="heroe.imagenUrl" class="card-img-top smaller-image" alt="...">
          <div class="card-body">
            <h4 class="card-title"><strong>{{ heroe.nombre }}</strong></h4>
            <p class="card-text">{{ heroe.descripcion }}</p>
            <p class="card-text"><strong>Poder:</strong> {{ heroe.poder }}</p>
            <!-- Botón de edición -->
       <!-- Botones de editar, eliminar y añadir -->
       <div class="card-footer text-center">
        <button type="button" class="btn btn-primary edit-button mr-2" (click)="edit(heroe)">Editar</button>
        <button type="button" class="btn btn-danger delete-button" (click)="deleteHero(heroe)">Eliminar</button>
      </div>
        </div>
      </div>
    </div>
  </div>